.logo{
    height: 44px;
    width: 156px;
    margin-top: 10px;
    margin-left: 18px;
}
.icons{
    height: 23px;
    width: 23px;
    margin-top: 14px;
    margin-left: 10px;
}
.text{
    color: white;
    margin-top: -30px;
    margin-left: 55px;
}
.new{
    margin-left: 18px;
}
.new2{
    margin-top: -15px;
    margin-left: 18px;
}
.new3{
    margin-top: -15px;
    margin-left: 18px;
}
.new4{
    margin-left: 18px;
    margin-left: 18px;
}
.new5{
    margin-top: -15px;
    margin-left: 18px;
}
.new6{
    margin-top: -15px;
    margin-left: 18px;
}
.new7{
    color: white;
    margin-left: 23px;
}
.new8{
    margin-top: 33px;
}
.new9{
    color: white;
    margin-left: 20px;
    margin-top: 35px;
}
.new10{
    color: white;
    margin-left: 66px;
    margin-top: -24px;
}